
html{
    font-family: 'Nunito';
}

body{
    background-color: #130f0d;
    color: white;
}
.boards{
    display: flex;
    /*justify-content: space-between;*/
    margin-top: 32px;
}
.board{
    background-color: #141316;
    border: 1px solid #FD951F11;
    border-radius: 4px;
    margin: 0 16px;
}

.board h3{
    padding: 16px;
    maRGIN: 0;
    color: #FD951F
}

.dropzone{
    padding: 16px;
    /*background: gray;*/
    min-width: 282px;
    min-height: 200px;
}

.card{
    padding: 16px;
    box-shadow: 0 2px 2px #FD951Fcc;
    width: 250px;
    margin: 25px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    background: #1A1A1C;
}
.status{
    width: 30px;
    height: 8px;
    margin-bottom: 16px;
    border-radius: 2px;
}

.status.green{background: #23d2ac;}
.status.blue{background: #33adff;}
.status.red{background: red;}

.highlight{
    background-color: #FD951F08;
}

.card, .dropzone {
    transition: 0.4s;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: #4cd13711;
}